.about {
  background-color: $light-gray;
  padding: 25rem 0;
  margin-top: -20vh;
  gap: 5rem;
  &-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
    &__description {
      align-self: flex-end;
      font-size: 1rem;
      max-width: 37.5rem;
      &:not(:last-child) {
        margin-bottom: 1.875rem;
      }
      h3 {
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 0.5rem;
      }
      p {
        color: $black;
      }
    }
    &:last-child {
      p {
        margin-bottom: 1.875rem;
      }
    }
  }
}

.composition {
  position: relative;
  &_photo {
    max-width: 55%;
    border-radius: 2px;
    box-shadow: 0 1rem 2.5rem rgba($black, 0.4);
    position: absolute;
    transition: transform 0.3s, box-shadow 0.3s;
    z-index: 10;
    outline-offset: 1.25rem;
    &:hover {
      z-index: 20;
      transform: scale(1.05) translateY(0.3125rem);
      box-shadow: 0 1rem 4rem rgba($black, 0.5);
      outline: 0.9375rem solid $dark;
    }
    &--p1 {
      top: -1.25rem;
      left: 0;
    }
    &--p2 {
      top: 1.25rem;
      right: 0;
    }
    &--p3 {
      top: 6.25rem;
      left: 20%;
    }
  }
  &:hover &_photo:not(:hover) {
    transform: scale(0.9);
  }
}
