// Button

.btn {
  &,
  &:link,
  &:visited {
    text-decoration: none;
    text-transform: uppercase;
    padding: 1rem 2.5rem;
    transition: all 0.3s;
    font-weight: 600;
    border-radius: 6.25rem;
    position: relative;
    border: none;
    cursor: pointer;

    &:hover {
      transform: translateY(-0.1875rem);
      box-shadow: 0 0.625rem 1.25rem rgba($black, 0.2);
      &::after {
        transition: all 0.4s;
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
      }
    }
    &:active {
      transform: translateY(0.0625rem);
      box-shadow: 0 0.3125rem 0.625rem rgba($black, 0.2);
    }
    &::after {
      content: "";
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      width: 100%;
      height: 100%;
      border-radius: 6.25rem;
    }
  }

  &-white {
    background-color: $white;
    color: $gray;
    &::after {
      content: "";
      background-color: $white;
    }
  }
  &-green {
    background-color: $dark;
    color: $white;
    &::after {
      content: "";
      background-color: $dark;
    }
  }

  &-moveBottom {
    animation: moveToBottom 0.3s ease-out 0.7s;
    animation-fill-mode: backwards;
  }
}

.secondary-btn {
  &:link,
  &:visited {
    color: $dark;
    border-bottom: 1px solid $dark;
    text-decoration: none;
    display: inline-block;
    padding: 0.5rem;
    max-width: fit-content;
    transition: all 0.3s;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 0.2rem;
  }
  &:hover {
    background-color: $dark;
    color: $white;
    box-shadow: 0 1rem 2rem rgba($black, 0.2);
    transform: translateY(-0.125rem);
  }
  &:active {
    box-shadow: 0 0.5rem 1rem rgba($black, 0.2);
    transform: translateY(0);
  }
}
