// CSS Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 100%;

  @include respond(tablet) {
    font-size: 70%;
  }
  @include respond(phablet) {
    font-size: 80%;
  }
  @include respond(phone) {
    font-size: 60%;
  }
  @include respond(xxl) {
    font-size: 120%;
  }
}

body {
  font-family: "Lato", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.7;
  font-size: 1rem;
  font-weight: 400;
  color: $gray;
  padding: 1.875rem;

  @include respond(tablet) {
    padding: 0;
  }
}

// Util Classes
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 2.1875rem;
  font-weight: 700;
  text-transform: uppercase;
  background-image: linear-gradient(to right, $light, $dark);
  display: inline-block;
  background-clip: text;
  color: transparent;
  transition: all 0.2s;
  letter-spacing: 0.125rem;
  text-align: center;
  &:hover {
    transform: skewX(15deg) skewY(2deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba($black, 0.2);
  }
  margin-bottom: 5rem;

  @include respond(phone) {
    font-size: 2rem;
  }
}
